<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>
    <div>
        <h1>Bienvenidos </h1>
        <p>{{name}}</p>
        <a href="{{ url_for('views.AudioDL') }}">
            <button>Descargar audio</button>
        </a>
    </div>
    <script type="text/javascript" src="{{ url_for('static',filename='test.js') }}"></script>
</body>

</html>